<h1>Predicted Home Sold Price for Home in Fremont California</h1>

<p style="font-size:20px">Please enter the following corresponding fields as instructed to get the predicted home value:</p>
<br>




<form action="/" method = "POST">
    <p>Property Type (e.g. Single Family Residential, Townhouse, 	
        Condo/Co-op,Other)<input type = "text" name = "Property Type" /></p>
    <p>Beds<input type = "number" name = "Beds" /></p>
    <p>Baths <input type = "number" name = "Baths" /></p>
    <p>SQFT <input type = "number" name = "SQFT" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>